
body {
  font-family: 'Rubik', sans-serif;
  background-color: #0f1018;
  color: white;
  margin: 0;
  padding: 20px;
}
main {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
input, textarea {
  padding: 10px;
  background: #1a1b2b;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
}
textarea {
  height: 100px;
}
button {
  background: #9c5bfa;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.row {
  display: flex;
  gap: 20px;
}
h1 {
  color: #e0c6ff;
}
